<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit" method="post">
        <textarea name="Name" id="" cols="30" rows="10">Name</textarea>
        <textarea name="Roll" id="" cols="30" rows="10">Roll</textarea>
        <textarea name="Name1" id="" cols="30" rows="10">Updated Name</textarea>
        <textarea name="Roll1" id="" cols="30" rows="10">Updated Roll</textarea>

        <button type="submit">Submit</button>
       
    </form>
</body>
</html>